[Desktop Entry]
Type=Application
Categories=GTK;Settings;DesktopSettings;HardwareSettings;
Exec=way-displays-gui
Icon=wdisplays

Name=Display Configuration
GenericName=Displays Configuration
Comment=way-display-gui displays configuration
Terminal=false
